body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: #272044;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-top: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

#temp-today {
  font-size: 60px;
  font-weight: 3400;
  line-height: 1;
}

.units {
  position: relative;
  top: -20px;
  font-size: 24px;
}
